@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body{
  background: linear-gradient(#f78f8f, #9198e5);
  font-family: 'Poppins', sans-serif;
}
a:link 
{ 
 text-decoration:none; 
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}
.wrapper {
  display: flex;
  align-items: stretch;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
  width: 100%;
  padding: 20px;
  min-height: 100vh;
  transition: all 0.3s;
}
