{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

  <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
  <link href="{% static 'css/global/global.css' %}" rel="stylesheet">
  {% block css %}
  {% endblock %}
  <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
  <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{% block title %}Desafio{% endblock %}</title>
</head>
<body>
  
  {% block content %}
  {% endblock %}
</body>
</html>